body{
    background-color: #C4D7F2 !important;
}


.action{

    font-size: 40px;
    text-align: center;
    margin-top: 150px;

}
.title{
    border-style: solid;
    margin-top:30px;
    text-align: center;
}

.double_button{
    margin-top: 200px !important;
}

.btn_action{
    width: 358px;
    margin-bottom: 5px;
    background-color: #91a8a4 !important;
    color: black !important;
    border-color: #91a8a4 !important;
}

.button{

    background-color: #f0f7ee !important;
    color: black !important;
    border-color: #f0f7ee !important ;
}